.logo-word{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.847em;
    margin: 0;
}

li{
    font-size: 1em;
    padding: 0.3em;
}
.main-top-img{
    color: white;
    background-image: url(images/main-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40px auto 40px;
    border: 1px solid blueviolet;
}
.main-top-img-content {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 30em;
  }

.post-main{
    background: none;
    color: #151515;
}
.post-date{
    font-weight: 400;
    font-size: 0.75em;
}
.post-vertwo-img2{
    display: none;
}
.main-title{
    font-weight: 700;
    font-size: 2em;
}
.post-title-one{
    font-weight: 700;
    font-size: 1em;
}
.aboutme-title{
    font-weight: 700;
    font-size: 2.178em;
}
.main-content{
    font-weight: 400;
font-size: 1em;
width: 600px;
}
.post-content-two{
    font-weight: 400;
    font-size: 1em;
}
.blog-all-title{
    font-weight: 700;
    font-size: 1em;
text-align: center;
}
body{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}
.date{
 color: #000000;
 font-size: 0.886em;
 font-weight: 400;
}
.title{
    color: #141414;
    font-size: 1.5em;
    font-weight: 700;
}
.content{
    color: #505050;
    font-size: 1em;
    font-weight: 400;
}
.blog {
    display: grid;
        grid-template: 1fr 1fr 1fr 100px 1fr 1fr 1fr / 20px auto 20px;
        border: 1px solid blueviolet;
    }
    .blog > article {
          display: flex;
          flex-direction: column;
          text-align: left;
        }
        .blog-one {
            grid-row: 1/2;
            grid-column: 2/3;
            }
            .blog-two {
                grid-row: 2/3;
                grid-column: 2/3;
                }
                .blog-three {
                    grid-row: 3/4;
                    grid-column: 2/3;
                    }
                    .view-more{
                        grid-row: 4/5;
                        grid-column: 2/3;
                    }

                    .blog-four {
                        grid-row: 5/6;
                        grid-column: 2/3;
                        }
                        .blog-five {
                            grid-row: 6/7;
                            grid-column: 2/3;
                            }
                            .blog-six {
                                grid-row: 7/8;
                                grid-column: 2/3;
                                }
                              
                                .view-more{
                                                                 
                               border: 2px solid pink;}
                               
                            

                                   

                              
.more-btn{
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    font-weight: 700;

    border: none;
    cursor: pointer;
border-bottom: 1px solid black;
}
footer{
    background: black;
    padding: 2em 0;
    text-align: center;
}
.my{
    color: #ECECEC;
    font-size: 1em;
    font-weight: 700;
}
.copyright{
    color: #D7D7D7;
    font-size: 0.75em;
    font-weight: 400;
}


.toptitle, .toptitle-logo{
    display: flex;
    flex-direction: row;
    }
    .toptitle{
        justify-content: space-between;
       
    }
    .toptitle-logo{
        margin-top: 0.1em;
    }
    .logo{
        width: 20px;
        height: 20px;
        }

.hambuger,
.menu{
display: flex;
flex-direction: column;
}
.menu{
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    }
    

 
ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}    
.selected{
    text-shadow: 0 0 0 transparent;
    transition: all 0.3s ease;
    display: inline-block;
}
.selected:hover{
    color: black;
    text-shadow: 0 0 2px #B45309;
}
a{
    color: #000000;
    text-decoration: none;
    position: relative;
    }
    a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #B45309;
        transition: width 0.3s ease;
    }
    a:hover::after{
        width: 100%;
    }

.open-btn,.close-btn{
        cursor: pointer;
        color: black;
    }
    .close-btn{
        font-size: 25px;
        padding: 0.5em;
    }
.open-btn:hover{
        transition: color 3s font-size 3s;
        color: #B45309;
        font-size: 20px;
    }
    .close-btn:hover{
        transition: color 3s font-size 3s;
        color: #B45309;
        font-size: 30px;
    }    
.move{
        transform: translateX(0);
        transition: 250ms ease;
    }
    .underline{
        border-bottom: 2px solid #000000;
        width: 50px;
        height: 9px;
        margin-top:-10px;

    }
    .view-more{
        font-size: 1em;
        font-weight: 700;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
     
    }
    .gi {
        transform: translateX(1000%);
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
      .footergo {
        transform: translateY(-1580px);
      }
      .gimove {
        transform: translateY(0);
        transform: translateX(0);
        transition: 250ms ease;
      }
 

@media(min-width:600px){
.open-btn,.close-btn{
            display: none;
        }
 .menu{
            flex-direction: row;
            transform: translateX(0);
            position: initial;
        }
  ul{
            flex-direction: row;
            }
 li{
            padding: 0 0.5em;
              font-size: 0.75em;
                margin-left: 2em;
                font-weight: 700;
              
            }
.nav-item{
 display: flex;
 
                    }
.toptitle{
      justify-content: first baseline;
     }
 .toptitle-logo{
padding-top: 1.1em;
 }
 .blog {
    display: grid;
        grid-template: 40px 1fr 40px 1fr 100px / 40px 1fr 20px 1fr 20px 1fr 40px ;
        border: 1px solid blueviolet;
     
    }
    
    .blog-one {
    grid-row: 2/3;
    grid-column: 2/3;
    }
    .blog-two {
        grid-row: 2/3;
        grid-column: 4/5;
        }
        .blog-three {
            grid-row: 2/3;
            grid-column: 6/7;
            }
            .blog-four {
                grid-row: 4/5;
                grid-column: 2/3;
                }
                .blog-five {
                    grid-row: 4/5;
                    grid-column: 4/5;
                    }
                    .blog-six {
                        grid-row: 4/5;
                        grid-column: 6/7;
                        }
                        .view-more{
                            grid-row: 5/6;
                            grid-column: 1/-1;
                        }
    .main-top-img{
        background-image: url(images/desktop-blog-image-hero.png);
    }
    .post-vertwo-img{
        display: none;
    }
    .post-vertwo-img2{
        display: block;
    }
    .gi{
        transform: none;
    }
    .gimove, .footergo{
        transform: none;
    }
    .view-more{
        display: block;
        text-align: center;
        padding-top: 10px;
        cursor: default;
        pointer-events: none;
    }
    .post-main{
        display: grid;
        grid-template: 1fr / 40px auto 40px ;
    }
    .top{
        grid-column: 2/3;
    }
  .middle{
    grid-column: 2/3;
  }

    }
   
