.logo-word{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.847em;
    margin: 0;
}
li{
    font-size: 1em;
    padding: 0.3em;
}
.main-top-img{
    background-image: url(images/main-img.png);
    color: #ffffff;
    padding-top:5em;
}
.post-main{
    background: none;
    color: #151515;
}
.post-date{
    font-weight: 400;
    font-size: 0.75em;
}
.post-vertwo-img2{
    display: none;
}
.main-title{
    font-weight: 700;
    font-size: 2em;
}
.post-title-one{
    font-weight: 700;
    font-size: 1em;
}
.aboutme-title{
    font-weight: 700;
    font-size: 2.178em;
}
.main-content{
    font-weight: 400;
font-size: 1em;
}
.post-content-two{
    font-weight: 400;
    font-size: 1em;
}
.blog-all-title{
    font-weight: 700;
    font-size: 1em;
text-align: center;
}
body{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}
.data{
 color: #000000;
 font-size: 0.886em;
 font-weight: 400;
}
.title{
    color: #141414;
    font-size: 1.5em;
    font-weight: 700;
}
.content{
    color: #505050;
    font-size: 1em;
    font-weight: 400;
}
.view-more{
text-align: center;
padding: 2em 0;
}
.more-btn{
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    font-weight: 700;

    border: none;
    cursor: pointer;
border-bottom: 1px solid black;
}
footer{
    background: black;
    padding: 2em 0;
    text-align: center;
}
.my{
    color: #ECECEC;
    font-size: 1em;
    font-weight: 700;
}
.copyright{
    color: #D7D7D7;
    font-size: 0.75em;
    font-weight: 400;
}
@media(min-width:600px) {
    .main-top-img{
        background-image: url(images/desktop-blog-image-hero.png);
    }
    .post-vertwo-img{
        display: none;
    }
    .post-vertwo-img2{
        display: block;
    }
}
.toptitle, .toptitle-logo{
    display: flex;
    flex-direction: row;
    }
    .toptitle{
        justify-content: space-between;
       
    }
    .toptitle-logo{
        margin-top: 0.1em;
    }
    .logo{
        width: 20px;
        height: 20px;
        }

.hambuger,
.menu{
display: flex;
flex-direction: column;
}
.menu{
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    }
 
ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}    
.selected{
    text-shadow: 0 0 0 transparent;
    transition: all 0.3s ease;
    display: inline-block;
}
.selected:hover{
    color: black;
    text-shadow: 0 0 2px #B45309;
}
a{
    color: #000000;
    text-decoration: none;
    position: relative;
    }
    a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #B45309;
        transition: width 0.3s ease;
    }
    a:hover::after{
        width: 100%;
    }

.open-btn,.close-btn{
        cursor: pointer;
        color: black;
    }
    .close-btn{
        font-size: 25px;
        padding: 0.5em;
    }
.open-btn:hover{
        transition: color 3s font-size 3s;
        color: #B45309;
        font-size: 20px;
    }
    .close-btn:hover{
        transition: color 3s font-size 3s;
        color: #B45309;
        font-size: 30px;
    }    
.move{
        transform: translateX(0);
        transition: 250ms ease;
    }

    
@media(min-width:600px){
.open-btn,.close-btn{
            display: none;
        }
 .menu{
            flex-direction: row;
            transform: translateX(0);
            position: initial;
        }
  ul{
            flex-direction: row;
            }
 li{
            padding: 0 0.5em;
              font-size: 0.75em;
                margin-left: 2em;
                font-weight: 700;
              
            }
.nav-item{
 display: flex;
 
                    }
.toptitle{
      justify-content: first baseline;
     }
 .toptitle-logo{
padding-top: 1.1em;
 }

    }
   
